# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pangk\Documents\School\2021_Spring\COMP10050-Software Engineering Project 1\Assignment2\UCDCOMP10050-Assignment_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
